.navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50%;
    height: 60px;
    
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}
